@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.app {
  min-height: 100vh;
  background: #39445a;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;

  
}
.pageTitle{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat",sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}
@media (max-width:700px){
  .app{
    // padding-left: 10px;
    padding-top: 70px;
  }
}